header {
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 0;
}
header img {
  margin-top: 20px;
  /* margin-left: 3%;
  margin-right: 3%; */
  border-radius: 10px;
}
.headerSpace {
  text-align: center;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdfcf5;
}

img {
  max-width: 95%;
}

h1 {
  margin-top: -40px;
}

div h3 {
  text-align: center;
}
article p {
  line-height: 2;
}

/* class definition about media query
start */

@media all and (max-width: 1024px) {
  header img {
    width: 100%;
  }
}
@media all and (min-width: 1024px) {
  header img {
    max-width: 1024px;
  }
}

/* class definition about media query
end */

/* class definition about background-image or color
start */

.bg-none {
  background-color: #fdfcf5;
}

.bg-img {
  background-image: url("y-so-serious-white.png");
}

/* class definition about background-image or color
end */

/* the class about font of title */
.txtFontSpecial {
  font-family: "Yellowtail", cursive;
}

/* cf: https://anyushu.com/web/fonts-osusume/ */
.catchphrase {
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 150%;
  line-height: 200%;
}

div.headerText {
  margin-top: 100px;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
  font-family: cursive;
  font-size: 200%;
}

h2.headline {
  font-family: "Lobster", cursive;
  font-size: 300%;
}

div.feature {
  display: inline-block;
  width: 300px;
}
article.featureBlock {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
article.profile {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

article.skillset {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

/* class definition about the table in my skill set
start */

table {
  text-align: left;
  vertical-align: top;
  display: inline-block;
}
table th,
table td {
  border: solid 1px black;
}
table th {
  text-align: center;
  background-color: #99ff99;
  padding-right: 20px;
  padding-left: 20px;
}
table td {
  text-align: center;
  /* padding: 5px; */
  height: 100px;
}

table tr {
  vertical-align: center;
  padding-right: 3px;
}

/* class definition about the table in my skill set
end */

article.til {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

article.works {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

div.work {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

div.workRow {
  display: block;
}

div.featureText {
  width: 200px;
  padding: 30px;
  margin: auto;
}

/* class definition about modal display
start */

div.open,
div.close {
  cursor: pointer;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #4caf50;
  color: white;
}
div.mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

section.modal {
  background: #fff;
  color: #555;
  width: 70%;
  padding: 40px;
  border-radius: 4px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
  overflow-y: auto;
  max-height: 80%;
}

section.modal p {
  margin: 0 0 20px;
}

div.mask.hidden {
  display: none;
}

section.modal.hidden {
  transform: translate(0, -2000px);
}

/* class definition about modal display
end */

/* https://saruwakakun.com/html-css/reference/buttons */

.btn-flat-double-border {
  display: inline-block;
  background-color: white;
  padding: 0.5em 1em;
  margin: 1em;
  width: 250px;
  text-decoration: none;
  color: #4caf50;
  border: double 4px #4caf50;
  border-radius: 4px;
  transition: 0.4s;
}
.btn-flat-double-border:hover {
  background: #fffbef;
}

.redcolor {
  color: red;
}
