header {
  background-image: url("profileImg.jpeg");
  background-size: cover;
  height: 600px;
}

div.headerSpace {
  line-height: 300px;
  text-align: center;
}
div.headerText {
  color: white; /*テスト用いろかえ*/
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

h2.headline {
  font-family: cursive;
  font-size: 250%;
}

div.feature {
  display: inline-block;
  width: 300px;

  /* background-color: skyblue; 変更場所がわかりやすいように背景色をかえとく */
}
article.featureBlock {
  background-image: url("y-so-serious-white.png");
  /* background-color: skyblue; */
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
article.profile {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

article.skillset {
  /* background-image: url("y-so-serious-white.png"); */
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

article.til {
  background-image: url("y-so-serious-white.png");
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

article.works {
  background-color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Featureのテキストだよ */
div.featureText {
  width: 200px;
  /* background-color: white; */
  background-image: url("y-so-serious-white.png");
  padding: 30px;
  margin: auto;
}

/* Featureのタイトルだよ */
div h3 {
  text-align: center;
}
article p {
  line-height: 2;
}

/* ここからコピペ */

#open1,
#close1 {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #4caf50;
  color: white;
}
#mask1 {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal1 {
  background: #fff;
  color: #555;
  width: 70%;
  padding: 40px;
  border-radius: 4px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
}

#modal1 p {
  margin: 0 0 20px;
}

#mask1.hidden {
  display: none;
}

#modal1.hidden {
  transform: translate(0, -1000px);
}

/* ここまでobj1用 */

#open2,
#close2 {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #4caf50;
  color: white;
}
#mask2 {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal2 {
  background: #fff;
  color: #555;
  width: 70%;
  padding: 40px;
  border-radius: 4px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
}

#modal2 p {
  margin: 0 0 20px;
}

#mask2.hidden {
  display: none;
}

#modal2.hidden {
  transform: translate(0, -1000px);
}

/* ここまでobje2 */

#open3,
#close3 {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #4caf50;
  color: white;
}
#mask3 {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal3 {
  background: #fff;
  color: #555;
  width: 70%;
  padding: 40px;
  border-radius: 4px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
}

#modal3 p {
  margin: 0 0 20px;
}

#mask3.hidden {
  display: none;
}

#modal3.hidden {
  transform: translate(0, -1000px);
}

/* ここまでobj3 */

#open4,
#close4 {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #4caf50;
  color: white;
}
#mask4 {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal4 {
  background: #fff;
  color: #555;
  width: 70%;
  padding: 40px;
  border-radius: 4px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
}

#modal4 p {
  margin: 0 0 20px;
}

#mask4.hidden {
  display: none;
}

#modal4.hidden {
  transform: translate(0, -1000px);
}

/* ここまでobj4 */

#open5,
#close5 {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #4caf50;
  color: white;
}
#mask5 {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal5 {
  background: #fff;
  color: #555;
  width: 70%;
  padding: 40px;
  border-radius: 4px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
}

#modal5 p {
  margin: 0 0 20px;
}

#mask5.hidden {
  display: none;
}

#modal5.hidden {
  transform: translate(0, -1000px);
}

/* ここまでobj5 */

#open6,
#close6 {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #4caf50;
  color: white;
}
#mask6 {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal6 {
  background: #fff;
  color: #555;
  width: 70%;
  padding: 40px;
  border-radius: 4px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
}

#modal6 p {
  margin: 0 0 20px;
}

#mask6.hidden {
  display: none;
}

#modal6.hidden {
  transform: translate(0, -1000px);
}

/* ここまでobj6 */

#open7,
#close7 {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #4caf50;
  color: white;
}
#mask7 {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal7 {
  background: #fff;
  color: #555;
  width: 70%;
  padding: 40px;
  border-radius: 4px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
}

#modal7 p {
  margin: 0 0 20px;
}

#mask7.hidden {
  display: none;
}

#modal7.hidden {
  transform: translate(0, -1000px);
}
