header {
  background-image: url("profileImg.jpeg");
  background-size: cover;
  height: 600px;
}

div.headerSpace {
  line-height: 300px;
  text-align: center;
}
div.headerText {
  color: white; /*テスト用いろかえ*/
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

div.feature {
  display: inline-block;
  width: 300px;

  background-color: skyblue; /* 変更場所がわかりやすいように背景色をかえとく */
}

/* Featureのテキストだよ */
div.featureText {
  width: 200px;
  background-color: white;
  padding: 30px;
  margin: auto;
}

/* Featureのタイトルだよ */
div h3 {
  text-align: center;
}
article p {
  line-height: 2;
}
